<nav class="navbar navbar-default">
  <ul class="nav nav-pills">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation"><a href="/intro.html">Introduction</a></li>
    <li role="presentation">
      <a href="/unit1.html" data-tooltip="Norms of classical cinema">Unit 1</a>
    </li>
    <li role="presentation">
      <a href="/unit2.html" data-tooltip="Ozu's strategies">Unit 2</a>
    </li>
    <li role="presentation">
      <a href="/unit3.html" data-tooltip="Mizoguchi's strategies">Unit 3</a>
    </li>
    <li role="presentation"><a href="/caveat.html">Caveat</a></li>
  </ul>
</nav>
